body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, p {
    text-align: center;
    color: #000000;
}

.cabecalhoClass, .evolucaoForm {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin: 0 auto;
    width: 400px;
    line-height: 1.6;
}

.cabecalhoClass label, .evolucaoForm label {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #000000;
    margin-top: 10px;
    font-weight: bolder;
}

.cabecalhoClass input[type="text"], input[type="number"], input[type="date"], input[type="time"], .evolucaoForm select {
    width: 380px;
    padding: 10px;
    margin-bottom: px;
    border: 1px solid #000000;
    border-radius: 4px;
}

.cabecalhoClass input::placeholder {
    color: #000000;
    text-align: center;

}

.avaliacaoPupilar {
    width: 150px;
    padding: 10px;
    margin-bottom: 8px;
    border: 1px solid #000000;
    border-radius: 4px;
}

/*form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin: 0 auto;
    width: 80%;
}

label {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #000000;
}

input[type="text"],
select,
textarea {
    width: 70%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #000000;
    border-radius: 4px;
    margin: 0 auto;
}

input[type="number"],
input[type="date"],
input[type="time"] {
    width: 30%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #000000;
    border-radius: 4px;
}

input[type="radio"] {
    margin: 10px 5px 10px 0;
}

input[type="checkbox"] {
    accent-color: #007bff;
    width: 18px;
    height: 18px;
    cursor: pointer;
    vertical-align: middle;
    margin-right: 8px;
    margin-bottom: 10px;
}*/

button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #3867d6;
}

section {
    margin-bottom: 20px;
}

div {
    margin-bottom: 15px;
}