body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, p {
    text-align: center;
    color: #000000;
}

.testeEscala {
    display: inline-block;
    margin: 0 auto;
    align-items: center;
    color: #000000;
    margin-top: 10px;
    font-weight: bolder;
    font-size: 24px;
}

#escaladeComadeGlasgow {
    width: 200px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #000000;
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 10px;
}

.cabecalhoClass, .evolucaoForm {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin: 0 auto;
    width: 700px;
    line-height: 1.6;
}

.cabecalhoClass label, .evolucaoForm label {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #000000;
    margin-top: 10px;
    font-weight: bolder;
}

.cabecalhoClass input[type="text"], input[type="number"], input[type="date"], input[type="time"], .evolucaoForm select {
    width: 380px;
    padding: 10px;
    margin-bottom: px;
    border: 1px solid #000000;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
}

.cabecalhoClass input::placeholder {
    color: #000000;
    text-align: center;

}

.avaliacaoPupilar {
    width: 150px;
    padding: 10px;
    margin-bottom: 8px;
    border: 1px solid #000000;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #3867d6;
}

section {
    margin-bottom: 20px;
}

div {
    margin-bottom: 15px;
}